
<h1>HomeDashboard</h1>

<div *ngIf="isUserAuthenticated()" style="color:blue;">
  <h2>
    <app-todo-items></app-todo-items>
  </h2>
</div>
<div  *ngIf="isUserAuthenticated()" class="col">
  <button class="btn btn-info btn-lg btn-block form-control" type="submit" (click)="logOut()"><a class="logout" >Logout</a></button>
</div>
<br>
<ul>
  <li *ngIf="!isUserAuthenticated()">
    <div class="form-row">
      <div class="col">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:center;">
          <a [routerLink]="['/login']" routerLinkActive="active"><button class="btn btn-info btn-lg btn-block " type="submit">Login</button></a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="text-align:center;">
            <a [routerLink]="['/register']" routerLinkActive="active"><button class="btn btn-info btn-lg btn-block " type="submit">Register</button></a>
            </div>
      </div>
      <br/>
      <div  *ngIf="isUserAuthenticated()" class="col">
        <button class="btn btn-danger btn-lg btn-block" type="submit"><a class="logout" (click)="logOut()">Logout</a></button>
      </div>
      
    </div>
  </li>

</ul>